@media (max-width: $width__laptop_l) {
	.container {
		width: 100%;
		padding: 20px;


	}

	.header {
		&__menu {
			&-wrapper {
				margin-top: 5px;
			}
		}
	}

	.header__menu-wrapper .container_menu {
		padding: 20px;
	}
}

@media (max-width: $width__laptop) {
	.header {
		&__slider {
			&-title {
				font-size: 36px;
			}
		}
	}

	.lt_visible {
		display: inline;
	}

	.slider {
		&__indicators {
			margin: 0;
			background-color: rgba($color: #000000, $alpha: .3)
		}
	}
}

@media (max-width: $width__laptop_s) {
	.header {
		&__slider {
			&-img {
				display: none;
			}
		}
	}

	.contacts {
		&__list {
			flex-flow: row wrap;
			justify-content: start;

			&-item {
				margin: 5px 20px;
			}
		}
	}

	.lt_visible {
		display: none;
	}

	.features {
		&__list {
			justify-content: space-around;

			li {
				width: 200px;
			}
		}

		&__title {
			font-size: 14px;
		}
	}

	.solutions {
		height: 550px;

		&__tabs {
			width: 100%;
			flex-flow: row wrap;

			&-container {
				min-height: 200px;
			}

			&-item {
				flex: 0 0 33%;
				border-right: none;
			}
		}

		&__desc {
			img {
				display: none;
			}
		}
	}

	.advantages {
		.container {
			padding: 0;
		}

		&__list {
			width: 100%;

			&-item {
				height: 215px;

				a {
					padding: 15px;
					margin-top: 0;
				}
			}
		}
	}

	.options {
		&__item {
			&-content {
				p {
					font-size: 12px;
				}
			}
		}
	}
}