@media (max-width: $width__laptop_l) {
	.container {
		width: 100%;
		padding: 20px;


	}

	.header {
		&__menu {
			&-wrapper {
				margin-top: 5px;
			}
		}
	}

	.header__menu-wrapper .container_menu {
		padding: 20px;
	}
}

@media (max-width: $width__laptop) {
	.header {
		&__slider {
			&-title {
				font-size: 36px;
			}
		}
	}

	.lt_visible {
		display: inline;
	}

	.slider {
		&__indicators {
			margin: 0;
			background-color: rgba($color: #000000, $alpha: .3)
		}
	}
}

@media (max-width: $width__laptop_s) {
	.header {
		&__slider {
			&-img {
				display: none;
			}
		}
	}

	.contacts {
		&__list {
			flex-flow: row wrap;
			justify-content: start;

			&-item {
				margin: 5px 20px;
			}
		}
	}

	.lt_visible {
		display: none;
	}

	.features {
		&__list {
			justify-content: space-around;

			li {
				width: 200px;
			}
		}

		&__title {
			font-size: 14px;
		}
	}

	.solutions {
		height: 550px;

		&__tabs {
			width: 100%;
			flex-flow: row wrap;

			&-container {
				min-height: 200px;
			}

			&-item {
				flex: 0 0 33%;
				border-right: none;
			}
		}

		&__desc {
			img {
				display: none;
			}
		}
	}

	.advantages {
		.container {
			padding: 0;
		}

		&__list {
			width: 100%;

			&-item {
				height: 215px;

				a {
					padding: 15px;
					margin-top: 0;
				}
			}
		}
	}

	.options {
		&__item {
			&-content {
				p {
					font-size: 12px;
				}
			}
		}
	}
}

@media(max-width: $width__tablet) {
	.contacts {
		position: relative;

		&__list {
			flex-flow: column nowrap;

			&.min {

				height: 50px;
				overflow: hidden;
			}

			&-item {

				justify-content: start;
			}
		}

		&__switch {
			cursor: pointer;
			position: absolute;
			top: 18px;
			right: 18px;
			width: 44px;
			height: 44px;
			border-radius: 100%;
			border: 2px solid $color_blue;


			&::before,
			&::after {
				transition: all 0.5s;
				content: "";
				display: block;
				width: 20px;
				height: 2px;
				background-color: $color_blue;
			}

			&::before {
				transform: rotate(45deg);
				position: absolute;
				top: 21px;
				left: 3px;
			}

			&::after {
				transform: rotate(-45deg);
				position: absolute;
				top: 21px;
				right: 3px;
			}

			&.close {

				&::before,
				&::after {
					transition: all 0.5s;
					width: 26px;
				}

				&::before {
					top: 19px;
					left: 7px;
				}

				&::after {
					top: 19px;
					right: 7px;
				}
			}
		}
	}

	.header {
		&__menu {
			&-wrapper {
				height: 100%;
			}
		}

		&__nav {
			position: absolute;
			left: 0;
			top: 0;
			height: 100%;
			width: 100%;

			display: flex;

			justify-content: flex-end;

			&-menu {
				//display: none;
				flex: 0 0 100%;
				flex-flow: column nowrap;
				justify-content: flex-start;
				background-color: rgba($color: #000000, $alpha: .7);
				font-size: 20px;
			}

			&-close {
				position: relative;
				order: 2;
				transition: all 0.5s;
				position: absolute;
				right: 7px;
				top: 4px;
				width: 50px;
				height: 50px;

				border: 2px solid #ffffff;

				&::before,
				&::after {
					transition: all 0.5s;
					content: "";
					position: absolute;
					display: block;
					width: 34px;
					height: 2px;

					background-color: #fff;
				}

				&::before {
					top: 7px;
					left: 6px;
					box-shadow: 0 10px 0 #ffffff, 0 20px 0 #ffffff;
				}

				&::after {
					bottom: 7px;
					right: 6px;
				}

				&.close {
					&::before {
						transition: all 0.5s;
						top: 23px;
						left: 6px;
						box-shadow: none;
						transform: rotate(45deg);
					}

					&::after {
						transition: all 0.5s;
						top: 23px;
						right: 7px;
						transform: rotate(-45deg);
					}
				}
			}

		}
	}

	.slider {
		&__indicators {
			background-color: transparent;
		}
	}

	.options {
		&__title {
			margin-top: -10px;
		}

		&__wrapper {
			grid-template-columns: 1fr;
			grid-template-rows: 1fr 1fr;
		}

		&__item {
			&-content {
				margin-top: 15px;
			}
		}
	}

	.footer {
		&__info {
			p {
				font-size: 14px;
			}
		}

		&__nav {
			grid-template-columns: 1fr 1fr 1fr;
		}

		.container {
			flex-flow: column;
		}
	}

	.tb_visible {
		display: block;
	}
}