@import "libs/normalize";
@import "base/variables";
@import "base/mixins";
@import "base/anim";
@import "libs/fonts";
@import "blocks/slider-top";

* {
	box-sizing: border-box;
}

.container {
	width: 1170px;
	margin: 0 auto;
	padding: 15px;

	//outline: 1px solid yellowgreen;
}

.title {
	text-align: center;
	font-size: 30px;
	font-weight: 600;

	&_white {
		color: #ffffff;
	}

	&_black {
		color: #000000;
	}
}

@import "blocks/buttons";
@import "blocks/contacts";
@import "blocks/header";
@import "blocks/features";
@import "blocks/solutions";
@import "blocks/advantages";
@import "blocks/options";
@import "blocks/start";
@import "blocks/footer";