.advantages {
	margin: 35px 0;

	&__list {
		@include reset-list;

		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto;

		&-item {
			height: 355px;

			a {
				display: block;
				width: 100%;
				text-align: center;
				padding: 50px 120px;
				margin-top: 90px;
				min-height: 175px;
				color: #fff;
				font-size: 22px;
				line-height: 36px;
				text-decoration: none;

				background-color: rgba($color: #000000, $alpha: .4);

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}