.button {
	width: 245px;
	height: 60px;

	background-color: $color_blue;

	border-radius: 6px;

	border: none;

	color: #ffffff;
	font-size: 18px;
	text-transform: uppercase;

	cursor: pointer;

	&_center {
		display: block;
		margin: 0 auto;
	}
}