.overlay {
	transition: 0.5s all;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;

	background-color: rgba($color: #000000, $alpha: .7);
}

.contact-popup {
	transition: 0.5s all;
	width: 700px;
	height: 500px;

	padding: 50px;

	position: absolute;
	top: 100px;
	left: 50%;
	transform: translateX(-50%);

	background-color: #fff;

	border-radius: 4px;

	&__close {
		font-size: 58px;
		line-height: 32px;
		color: $color_blue;

		position: absolute;
		top: 4px;
		right: 3px;

		cursor: pointer;
	}

	&__field {
		width: 100%;
		padding: 15px;
		margin: 10px 0;
	}

	&__message {
		height: 180px;
	}
}

.hidden {
	display: none;

}