.contacts {
	&__list {
		display: flex;
		justify-content: space-around;

		&-item {
			display: flex;
			justify-content: space-between;
		}
	}

	&__flag {
		width: 28px;
		height: 20px;
	}

	&__info {
		font-size: 12px;
		margin-left: 12px;
	}

	&__name {
		margin: 0;
		font-size: 14px;
	}

	&__addr {
		font-style: normal;
	}

	&__phone {
		text-decoration: none;
		color: #000000;
	}
}