.header {
	position: relative;
	width: 100%;
	height: 700px;

	outline: 1px solid salmon;

	&__container {
		position: relative;
	}

	&__slider {
		transition: 250ms ease-in-out;
		width: 100%;
		height: 100%;

		position: absolute;
		top: 0;
		left: 0;

		display: flex;
		flex: 0 0 100%;
		max-width: 100%;
		flex-flow: row nowrap;
		overflow: hidden;

		&-item {
			transition: 250ms ease-in-out;
			transform: translate(0px, 0px);

			position: relative;
			flex-basis: 100%;
			height: 100%;

			outline: 1px solid red;

			background: url(../img/bg/bg001.jpg) center (center/cover) no-repeat;

			.container {
				position: absolute;
				bottom: 0;
				left: 50%;
				transform: translateX(-50%);

				padding-bottom: 0;
			}

		}

		//z-index: -1;
		&-nav {
			position: absolute;
			bottom: 10px;
			left: 50%;
			transform: translateX(-50%);

			display: flex;
			align-items: center;

			.prev,
			.next {
				width: 8px;
				height: 21px;
				display: block;
				margin: 0 8px;

				cursor: pointer;
			}

			.prev {
				background: url(../icons/prev.png) center (center/contain) no-repeat;
			}

			.next {
				background: url(../icons/next.png) center (center/contain) no-repeat;
			}
		}

		&-dots {
			@include reset-list;
			display: flex;
			justify-content: center;
			align-items: center;
		}

		&-dot {
			display: block;
			width: 12px;
			height: 12px;
			border-radius: 100%;
			border: 1px solid rgba($color: #ffffff, $alpha: .7);
			margin: 0 3px;
			cursor: pointer;

			&.dot-active {
				width: 14px;
				height: 14px;
				border: none;
				background-color: rgba($color: #ffffff, $alpha: .8);
			}
		}

		&-wrapper {
			display: flex;
			justify-content: space-between;

			position: relative;
		}

		&-text {
			height: 465px;
			width: 585px;
			outline: 1px solid seagreen;
		}

		&-title {
			font-size: 42px;
			font-weight: 400;

			color: #ffffff;
		}

		&-subtitle {
			margin: 36px 0;
			font-size: 24px;
			font-weight: 200;

			color: #ffffff;
		}

		&-img {
			position: absolute;
			bottom: 0;
			right: 0;

			width: 435px;
			height: 570px;

			background: url(../img/phone.png) center (center/contain) no-repeat;

			outline: 1px solid gold;
		}
	}

	&__menu-wrapper {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 70px;

		margin-top: 35px;

		.container {
			display: flex;
			justify-content: space-between;
			align-items: center;
			outline: 1px solid goldenrod;

			&_menu {
				padding: 0;
			}
		}

	}

	.logo {
		width: 143px;
		height: 70px;

		background: url(../icons/logo.png) center (center/contain) no-repeat;

		outline: 1px solid sandybrown;
	}

	&__nav {
		&-menu {
			@include reset-list;

			height: 100%;
			display: flex;
			justify-content: flex-end;

			text-transform: uppercase;
			font-size: 13px;

			li {
				display: block;
				margin-left: 45px;
				height: 70px;
			}

			a {
				padding-top: 28px;
				color: #ffffff;
				text-decoration: none;
				display: block;
				width: 100%;
				height: 100%;
			}

			a:hover {
				text-decoration: underline;
			}
		}
	}

}

.move {
	transform: translate(-1000px, 0px);
}