.header {
	position: relative;
	width: 100%;
	height: 700px;

	outline: 1px solid salmon;

	&__slider {
		width: 100%;
		height: 100%;

		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;

		&-item {
			position: relative;
			width: 100%;
			height: 100%;

			outline: 1px solid red;

			background: url(../../img/bg/bg001.jpg) center (center/cover) no-repeat;

			.container {
				position: absolute;
				bottom: 0;
				left: 50%;
				transform: translateX(-50%);

				padding-bottom: 0;
			}
		}

		&-wrapper {
			display: flex;
			justify-content: space-between;

			position: relative;
		}

		&-text {
			height: 465px;
			width: 585px;
			outline: 1px solid seagreen;
		}

		&-title {
			font-size: 42px;
			font-weight: 400;

			color: #ffffff;
		}

		&-subtitle {
			margin: 36px 0;
			font-size: 24px;
			font-weight: 200;

			color: #ffffff;
		}

		&-img {
			position: absolute;
			bottom: 0;
			right: 0;

			width: 435px;
			height: 570px;

			background: url(../../img/phone.png) center (center/contain) no-repeat;

			outline: 1px solid gold;
		}
	}

	&__menu-wrapper {
		width: 100%;
		height: 70px;

		margin-top: 35px;

		display: flex;
		justify-content: space-between;
		align-items: center;
		outline: 1px solid goldenrod;
	}

	.logo {
		width: 143px;
		height: 70px;

		background: url(../../icons/logo.png) center (center/contain) no-repeat;

		outline: 1px solid sandybrown;
	}

	&__nav {
		&-menu {
			@include reset-list;

			height: 100%;
			display: flex;
			justify-content: flex-end;

			text-transform: uppercase;
			font-size: 13px;

			li {
				display: block;
				margin-left: 45px;
				height: 70px;
			}

			a {
				padding-top: 28px;
				color: #ffffff;
				text-decoration: none;
				display: block;
				width: 100%;
				height: 100%;
			}

			a:hover {
				text-decoration: underline;
			}
		}
	}

}