.solutions {
	height: 890px;
	background: url(../img/slider/bg.jpg) center (center/cover) no-repeat;

	padding-top: 35px;

	&__tabs {
		@include reset-list;
		width: 860px;
		margin: 0 auto 35px auto;

		border: 1px solid #ffffff;
		border-radius: 6px;
		padding: 5px;
		display: flex;
		justify-content: center;

		li {
			//padding: 15px 22px;
			border-right: 1px solid rgba($color: #ffffff, $alpha: 0.5);
			text-align: center;

			&:last-child {
				border-right: none;
			}

			cursor: pointer;
			color: #ffffff;
			text-decoration: none;

			display: block;
			height: 100%;
			padding: 15px 22px;

			&:hover {
				color: $color_blue;
			}


			&.active {
				color: $color_blue;
				font-weight: 700;
				cursor: default;
			}
		}

		&-container {
			min-height: 545px;
			position: relative;

		}

		&-content {
			text-align: center;
		}
	}

	&__subtitle {
		color: #ffffff;
		font-size: 26px;
		font-weight: 200;
	}

	&__desc {
		color: #ffffff;
		font-size: 26px;
		font-weight: 700;
		letter-spacing: 10px;
	}
}