.solutions {
	height: 890px;
	background: url(../img/bg/bg002.jpg) center (center/cover) no-repeat;

	padding-top: 35px;

	outline: 1px solid yellowgreen;

	&__tabs {
		@include reset-list;
		width: 860px;
		margin: 0 auto 35px auto;

		border: 1px solid #ffffff;
		border-radius: 6px;
		padding: 5px;
		display: flex;
		justify-content: center;

		li {
			//padding: 15px 22px;
			border-right: 1px solid rgba($color: #ffffff, $alpha: 0.5);
			text-align: center;

			&:last-child {
				border-right: none;
			}

			a {
				color: #ffffff;
				text-decoration: none;

				display: block;
				height: 100%;
				padding: 15px 22px;

				&:hover {
					color: $color_blue;
				}
			}
		}

		&-container {
			min-height: 545px;
			position: relative;

			outline: 1px solid green;


			.prev,
			.next {
				position: absolute;
				display: block;
				width: 50px;
				height: 100%;
				cursor: pointer;
			}

			.prev {
				top: 0;
				left: 0;
				background: url(../icons/arrowleft.png) center no-repeat;
			}

			.next {
				top: 0;
				right: 0;
				background: url(../icons/arrowright.png) center no-repeat;
			}
		}

		&-content {
			height: 545px;
			padding: 0 50px;
			text-align: center;
			outline: 1px solid blueviolet;
		}
	}
}